/* Estilos gerais */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8fd8d2;
    color: #DF744A;
    padding: 10px 0;
    text-align: center;
}
header img {
    width: 400px;
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}
header a:link{
    color:#DF744A;;
    text-decoration: none;
}
header a:visited{
    color: #DF744A;;
}
footer {
    background-color: #8fd8d2;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
}
ion-icon{
    color: black;
}
.content{
    min-height: calc(100% - 100px);
}
.footer{
    height: 100px;
}